@inherits LayoutComponentBase

<main>
    <section>
        <a href="/">Rest API</a>&nbsp;
        <a href="/graphql-basic">GraphQL Basic</a>&nbsp;
        <a href="/debounce">Debounce</a>&nbsp;
        <a href="/errors">Errors</a>&nbsp;
        <a href="/timeouts">Timeouts</a>&nbsp;


    </section>

    @Body
</main>
