@page "/event-based-multi"

<section>
    <button type="button" @onclick="NewCake">Random Cake</button>
    <HttpValue @ref="http" TValue="CakeChoice"
               Url="https://localhost:7077/cakes/random"
               @bind-Value="CakeId" />
    <HttpValue TValue="Cake"
               Url="https://localhost:7077/cakes/{cakeId}"
               @bind-Value="Cake"
               cakeId="@CakeId" />
</section>

<section>
    @if (Cake is not null)
    {
        <div>
            <h2>@Cake.Name</h2>
            <strong>@Cake.Origin</strong>
        </div>
        <div>
            <p>
                @Cake.Description
            </p>
        </div>
    }
</section>

@code {
    private HttpValue<CakeChoice> http = null!;

    public CakeChoice CakeId { get; set; } = new CakeChoice(1);

    public Cake? Cake { get; set; }

    public async Task NewCake()
    {
        await http.FireRequest();
    }
}
