<CascadingHttpValue Context="ret"
                    HttpClientName="test"
                    TValue="SimpleData" 
                    Url="/test/simple">
    <ChildContent>
        <div id="data">
            <h1>@ret.Id</h1>
            <h2>@ret.Name</h2>
            <h3>@ret.Description</h3>
        </div>
    </ChildContent>
</CascadingHttpValue>

