@inherits LayoutComponentBase

<main>
    <section>
        <a href="/">Rest API</a>&nbsp;
        <a href="/graphql-basic">GraphQL Basic</a>&nbsp;
        <a href="/debounce">Debounce</a>&nbsp;
        <a href="/errors">Errors</a>&nbsp;
        <a href="/timeouts">Timeouts</a>&nbsp;
        <a href="/event-based">Event Based (Simple)</a>&nbsp;
        <a href="/event-based-multi">Event Based (Multi)</a>&nbsp;
        <a href="/html">Html Result</a>&nbsp;
        <a href="/async-parameter/1">Async Parameter</a>&nbsp;
        <a href="/button-post">Button POST</a>&nbsp;
        <a href="/nested-cascades">Nested Cascades</a>&nbsp;
    </section>

    @Body
</main>
